form {
	width: 500px;
	background-color: #bdc7d8;
	margin: 50px auto;
	/*margin-top: 50px;*/
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	/*display: block;*/
}

form input {
	margin-bottom: 30px;
}

h2 {
	text-align: center;
}

#user_id {
	/*float: left;*/
	/*display: inline-block;*/
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea

{
	width: 200px;
	margin: 12px 12px;
}

label {
	padding-left: 15px;
}

button {
	text-align: center;
	width: 100px;
	padding: 5px 5px;
	border-radius: 5px;
	margin: 20px 190px;
}

#password {
	
}

#name {
	/*display: block;*/
}

#address {
	/*display: block;*/
}

#country {
	/*display: block;*/
}

