form {
	width: 500px;
	background-color: #bdc7d8;
	margin: 50px auto;
	/*margin-top: 50px;*/
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	/*display: block;*/
}

form input {
	margin-bottom: 30px;
}

h2 {
	text-align: center;
}

#user_id {
	/*float: left;*/
	/*display: inline-block;*/
}

input[type="text"],
input[type="password"],
input[type="email"]
{
	width: 200px;
}

label {
	/*float: left;*/
	text-align: left;
	display: inline-block;
}

#password {
	/*display: block;*/
}

#name {
	/*display: block;*/
}

#address {
	/*display: block;*/
}

#country {
	/*display: block;*/
}

