body {
	background-color: #3b5960;
}

form {
	width: 500px;
	background-color: #fff;
	margin: 0 auto;
	/*margin-top: 50px;*/
	padding: 5px 15px;
	border-radius: 15px;
	/*display: block;*/
}

form input {
	margin-bottom: 30px;
}

h2 {
	text-align: center;
	font-family: Verdana;

}

#user_id {
	/*float: left;*/
	/*display: inline-block;*/
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea

{
	width: 230px;
	height: 23px;
	margin: 12px 12px;
	vertical-align:middle;
	font-family: Verdana;
	border: 1px solid #376eee;
}

label {
	padding-left: 5px;
	font-family: Verdana;
}

button {
	text-align: center;
	width: 100px;
	padding: 5px 5px;
	border-radius: 50px;
	margin: 20px 190px;
	font-size: 15px;
	/*font-weight: bold;*/
	font-family: Verdana;
	cursor: pointer;
	background-color: #1766ee;
	color: #fff;
	border: none;
	line-height: 25px;
}

button:hover {
	background-color: #365899;
	border-color: #29487d;
}

#password {
	
}

#name {
	/*display: block;*/
}

#address {
	/*display: block;*/
}

#country {
	/*display: block;*/
}

